.icon{
    background: linear-gradient(-45deg, #3b87bd, #2d71a2);
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-bottom: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.subtitle{
    font-size: 20px;
    margin-bottom: 1rem;
}

.desc{
    width: 400px;
    color: #b1b1b1;
}