.title {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.title h1 {
    width: 400px;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(-45deg, #3db3c5, #274685);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
