.h1-title{
    font-size: 1.75rem;
    font-weight: 600;
    margin: .75rem 0;
    color: #212529;
}

.p-desc{
    font-size: 1.25rem;
    font-weight: 100;
    color: #656769;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    text-align: center;
}

.features{
    background-color: #f8f9fa;
    padding: 7rem 0;

    .width-page{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .feature-item{
        width: 33%;
        padding: 0 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}



.show-case {

    .show-case-item{
        display: flex;
        justify-content: center;
        align-items: center;

        .show-case-content{
            padding: 7rem;
            width: 50%;
        }

        .show-case-img{
            width: 50%;

            img{
                width: 100%;
                height: 100%;
                margin-bottom: -3px;
            }
        }
    }


}