.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px;
    
    &-container{
        display:flex ;
        justify-content: start;
        flex-direction: column;
       width: 520px;
       min-height: 600px;
       padding: 20px;
       padding-bottom: 32px;
       background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
       border-radius: 10px;
    }

    &-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &-input{
        padding: 14px 32px 14px 16px;
        width:350px;
        outline:none;
        background: black;
        border:none;
        color: white;
    }
    
    &-row{
        display: flex;
        justify-content: space-between;
        margin: 16px 0;
        padding:14px;
        border-radius: 10px;
        color: #fff;
    }


    &-item{
        flex-direction: row;
        color: #fafafa;
        margin: 4px auto;
        padding:10px;
        width:100%;
        border-radius: 10px;
    }
    
    &-button{
        display: flex;
        justify-content: center;
        flex-direction: row;

    }
    &-button,
    &-content{
        margin-top:30px;
    }

    button{
        padding:14px;
        border: none;
        background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
        border: 2px solid white;
        color: #fafafa;
    }
}


.button{
    &-delete,
    &-rename{
        margin-left:20px
    }
}

h1{
    color:rgb(240, 237, 237);
}

.todo-submit{
    border-radius: 4px;
    border: rgba(0, 0, 0, 0.4);
}

.button-delete,.button-rename{
    color: #fff;
}