.step{
    padding: 40px;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 32.33333%;
    margin-right: 30px;

    &:first-child{
        margin-left: 30px;
    }

    .number{
        background: linear-gradient(-45deg, #1391a5, #274685);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 10px;
        display: block;
    }

    h3{
        font-size: calc(1.3rem + 0.6vw);
        margin-bottom: 0.5rem;
    }

    p{
        margin-bottom: 0px;
        color: #b1b1b1;
        margin-bottom: 1rem;
    }
}