.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .navbar-brand {
      display: flex;
      align-items: center;
  
      .logo {
        width: 100px; 
        height: 100px; 
        border-radius: 50%;
        object-fit: cover; 
      }
    }
  
    .nav-links {
      display: flex;
      gap: 20px; 
      font-size: 28px;
    }
  }
  