.btn {
    border: 2px solid white;
    background: none;
    color: white;
    padding: 15px 30px;
    border-radius: 0.375rem;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: #2d71a1;
    }
}