.footer{
    padding: 3rem 0 2rem;

    .width-page{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p{
        font-size: 1rem;
        text-align: left;
        margin: 1rem 0;
    }
}

ul{
    list-style: none;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}