.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 700px;
    &-box{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .footer-left{
            display: flex;
            justify-content:start;
            align-items: center;
            h3{
                margin-left: 24px;
            }
        }

        .footer-right{
            display: flex;
            justify-content: space-between;

            .footer-list{
                font-weight: bold;

                .footer-item{
                    font-weight: lighter;
                    margin: 24px 0;
                }
            }
        }
    }
}