.app {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;

  &.light-mode {
    background-color: #f9f9f9;
    color: #333;

    input, button, ul li {
      background-color: #fff;
      color: #333;
    }
  }

  &.dark-mode {
    background-color: #333;
    color: #f9f9f9;

    input, button, ul li {
      background-color: #555;
      color: #f9f9f9;
    }
  }

  h1 {
    text-align: center;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: #007bff;
    color: white;

    &:hover {
      background-color: #0056b3;
    }

    &.toggle-dark-mode {
      background-color: #000;
      color: #fff;
      margin-bottom: 20px;

      &:hover {
        background-color: #222;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;

      p {
        margin: 0;
        flex: 1;
      }

      button {
        background-color: #dc3545;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px;
        margin-left: 10px;
        font-size: 12px;
        width: auto;
        height: auto;

        &:hover {
          background-color: #c82333;
        }
      }

      .edit-btn {
        background-color: #ffc107;
        &:hover {
          background-color: #e0a800;
        }
      }
    }
  }
}
