.banner{
    height: 84vh;
    background: url(https://start-bootstrap-ten.vercel.app/assets/bg-masthead-BwreFw1Q.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
    text-align: center;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #1c375e;
        opacity: 0.5;
    }
    
    h1{
        font-size: 3rem;
        color: #fff;
        position: relative;
        z-index: 9;
        width: 72%;
        margin: 0 auto 1.25rem;
    }
}

.banner-sign-up{
    height: 50vh; 

    h1{
        font-size: 2rem;
    }
}